@import "tailwindcss";

#root,
body {
	width: 100%;
	min-height: 100vh;
	padding-bottom: 70px;
}
/* 
canvas {
	width: 100% !important;
	height: 100% !important;
} */

.canvas-sample {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

/* .canvas-container,
.lower-canvas,
.upper-canvas {
	width: 100% !important;
	height: 100% !important;
} */

button {
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.selected-fields {
	margin-top: 20px;
}

.selected-fields ul {
	list-style-type: none;
	padding: 0;
}

.selected-fields li {
	margin: 5px 0;
}
